VimL:" $Id$
VimL:" ``VimL loop on function parameters'' File Template, Luc Hermitte <hermitte {at} free {dot} fr>
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:name = INPUT('Name of the iterator : ')
let ¡s:name¡ = 0
while ¡s:name¡ != a:0
	let ¡s:name¡ = ¡s:name¡ + 1
	<++>
endwhile<++>
