VimL:" $Id$
VimL:" frame for Beamer Template, Luc Hermitte
VimL: let s:value_start  = '¡'
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'

\frame<+[options]+>
{ \frametitle{¡INPUT('title ?')¡}
\begin{itemize}
  \item <++>
\end{itemize}
}
