VimL:" {xsl:param} File Template, Luc Hermitte
VimL:" hint: <xsl:param name="name" {+select="default"+} />
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
<xsl:param name="{+param-name+}"{+ select="default-value"+}/>{++}
