VimL:"{xsl:template} Template File, Luc Hermitte
VimL:" hint: <xsl:template name="name">...</xsl:template>
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1 
<xsl:template name="{+template-name+}">
VimL: call s:Include('param', 'xslt')
  ¡s:Surround(1, '{+code+}')¡
</xsl:template>{++}
