VimL:" {xsl:with-param} File Template, Luc Hermitte
VimL:" hint: <xsl:with-param name="name" select="{+param-value+}" />
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
<xsl:with-param name="¡s:Surround(1, '{+param-name+}')¡" select="¡s:Surround(1, '{+param-value+}')¡"/>{++}
