VimL:" $Id$
VimL:"{xsl:if} Template, Luc Hermitte, 30th Jul 2003
VimL: let s:value_start = '¡'
VimL: let s:value_end   = '¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent = 1 
<xsl:if test="<+condition+>">
	<++>
</xsl:if>
