VimL:" current-dir File Template, Luc Hermitte, 17th Oct 2011
VimL:" hint: (bash) Obtains the current directory of the script
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
# http://stackoverflow.com/questions/59895/can-a-bash-script-tell-what-directory-its-stored-in/2633580#2633580
# This comment and code Copyleft, selectable license under the GPL2.0 or
# later or CC-SA 3.0 (CreativeCommons Share Alike) or later. (c) 2008.
# All rights reserved. No warranty of any kind. You have been warned.
# http://www.gnu.org/licenses/gpl-2.0.txt
# http://creativecommons.org/licenses/by-sa/3.0/
current_dir() {
    pushd "$(dirname "$(readlink -f "${BASH_SOURCE[0]}")")" > /dev/null
    local SCRIPT_DIR="$PWD"
    popd > /dev/null
    echo $SCRIPT_DIR
}
# ----
