VimL:" echo-variable File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 02nd Nov 2017
VimL:" hint: echo "var: ${var}"
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
MuT:  let s:var = s:SurroundableParam('variable', 1)
echo "<+s:var+>: ${<+s:var+>}"
