VimL:" if File Template, Luc Hermitte, 12th Jan 2011
VimL:" hint: if [...] ; then ... ; fi
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 1
MuT:  let s:cond = lh#string#trim(s:Surround(2, lh#marker#txt( 'cond')))
VimL: let s:cond = (s:cond =~ '^\[.*\]$') ? s:cond : '[ ' . s:cond . ' ]'
if ¡s:cond¡ ; then
    ¡s:Surround(1, '<+code+>')¡
fi
