VimL:" Default File header - C/C++ Definition File-Template, Luc Hermitte
/**@file	¡s:filename¡
 * @author	¡substitute(Author(0),'\r"','\r *','g')¡
 * @version	<+version+>
 * @date
 * 	Created:	¡lh#time#date()¡
 * 	Last Update:	¡lh#time#date()¡
 */
