VimL:" <para> File Template, Luc Hermitte <hermitte at free.fr>, 30th Oct 2013
VimL:" hint: <para></para>
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
VimL: let s:para = s:SurroundableParam('para', 1, lh#marker#txt('text'))
<para>{+s:para+}</para>{+s:TerminalPlaceHolder()+}
