VimL:" <programlisting> File Template, Luc Hermitte <hermitte at free.fr>, 30th Oct 2013
VimL:" hint: <programlisting></programlisting>
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
<programlisting>¡s:Surround(1, '{++}')¡</programlisting>{+s:TerminalPlaceHolder()+}
