VimL:" <section> File Template, Luc Hermitte
VimL:" hint: <section></section>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
<section>
VimL: call s:Include('title', 'docbk')
VimL: call s:Include('para', 'docbk', {'para': s:SurroundableParam('para', 2, lh#marker#txt('text')) })
</section>{+s:TerminalPlaceHolder()+}
