VimL:" <title/> File Template, Luc Hermitte
VimL:" hint: <title></title>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
VimL: let s:title = s:SurroundableParam('title', 1)
<title>¡s:title¡</title>¡s:TerminalPlaceHolder()¡
