VimL:" <xref/> File Template, Luc Hermitte <hermitte at free.fr>, 18th Feb 2015
VimL:" hint: <xref linkend="..."/>
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
<xref linkend="¡s:Surround(1, '{++}')¡"/>{+s:TerminalPlaceHolder()+}
