VimL: " $Id: vim-plugin.template 188 2010-05-17 01:46:33Z luc.hermitte $
VimL: "«Vim» tests Template File, Luc Hermitte
UTSuite [<+suite+>] Testing <+plugin+>

runtime autoload/<+plugin+>

let s:cpo_save=&cpo
set cpo&vim

"------------------------------------------------------------------------
function! s:Test_<+stuff+>()
  Assert <+expr+>
endfunction

