VimL: "C++ CXXTest File-Template, Luc Hermitte
VimL:" hint: class UT : public CxxTest::TestSuite
VimL: let s:TUName = expand('%:t:r')
#include <cxxtest/TestSuite.h>

class ¡s:TUName¡ : public CxxTest::TestSuite
{
public:
    void test_<+fct+>();
};

