VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
<!-- Created by ¡Author(1)¡ with Vim ¡substitute(v:version, '.', '&.', '')¡ -->
<html>
  <body>
    <+the page+>
  </body>
</html>
