VimL:" replace File Template, Luc Hermitte, 21st Jan 2016
VimL:" hint: string(<+REGEX+> REPLACE <+match+> <+repl+> <+out+> <+in+>)
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
string(<+REGEX+> REPLACE <+match+> <+repl+> <+output+> "<+input+>")
