VimL:" message-status File Template, Luc Hermitte <hermitte at free.fr>, 17th Mar 2014
VimL:" hint: MESSAGE(STATUS "")
VimL: "
VimL: let s:reindent     = 1
message(STATUS "¡s:Surround(1, '<+message+>')¡")<++>
