VimL:" chapter File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 28th Sep 2017
VimL:" hint: help chapter
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 0
------------------------------------------------------------------------------
<+NAME+><+repeat("\t", 7)+>*<+tag+>* {{{2
@since <+version_number+>
<+expl+>
