VimL:" dollar_id File Template, Luc Hermitte, 20th Apr 2015
VimL:" hint: Add '$'Id$ only in file under subversion/CVS.
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
MuT:  if lh#vcs#is_svn(fnamemodify(bufname('%'), ':p:h'))
VimL:" This trick with ¡ and $ is used to distract SVN/CVS
" ¡'$'¡Id$
MuT:  endif
