VimL:" $Id$
VimL:" if File Template, Luc Hermitte, 12th Jan 2011
VimL:" hint: if [...] ; then ... ; fi
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 1
if [ ¡s:Surround(2, '<+cond+>')¡ ] ; then
    ¡s:Surround(1, '<+code+>')¡
fi
