VimL:" header-guard File Template, Luc Hermitte, 22nd Apr 2013
VimL:" hint: #ifndef GUARD\n#define GUARD\n#endif
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:filename = s:path_from_root(expand('%:p'))
VimL: call s:Include('c-header-guard', 'c/internals')
#ifndef <+¡s:guard¡+>
#define <+¡s:guard¡+>

¡s:Surround(1, '<+content+>')¡

#endif // <+¡s:guard¡+>
