VimL:"{main(){...}} Template-File, Luc Hermitte
VimL:" hint: int main(argc, argv) { ... }
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
int main (<+int argc, char **argv+>){¡s:Surround(1, '<+code+>')¡}
