VimL:" «stderr» File Template, Luc Hermitte, 24th Jan 2011
VimL:" hint: fprintf(stderr,...); // + #include
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
MuT:  let s:ns = &ft == 'cpp' ? 'std::' : ''
VimL: call s:AddPostExpandCallback('lh#dev#import#add("<'. (&ft=='cpp' ? 'cstdio': 'stdio.h') .'>")')
<+s:ns+>fprintf(stderr, "<++>\n", <++>);<++>
