VimL:" elif File Template, Luc Hermitte, lun. 07 déc. 2015 20:53:42 CET
VimL:" hint: elif :
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 'python'
elif <+ s:SurroundableParam("condition", 2) +>:
    <+ s:SurroundableParam("code", 1) +>
<+s:TerminalPlaceHolder()+>
