VimL:" else File Template, Luc Hermitte, lun. 07 déc. 2015 20:45:43 CET
VimL:" hint: else:
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 'python'
else :
    <+ s:SurroundableParam("code", 1) +>
<+s:TerminalPlaceHolder()+>
