VimL:" method File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 18th Jul 2020
VimL:" hint: def(self, <+params+):
VimL: let s:reindent     = 'python'
MuT:  let s:name   = s:SurroundableParam('name', 2)
MuT:  let s:params = lh#string#join(', ', 'self', s:SurroundableParam('params', 3))
VimL: call s:Include('def', 'python', {'indented': s:Param("indented", 0), 'name': s:name, 'params': s:params})
