VimL:" try-else File Template, Luc Hermitte, 20th Jul 2020
VimL:" hint: try:\n  ...\nexcept:\n  ...\nelse:\n  ...
VimL: call s:Include('try-full', 'python/internals', {'tryexcept':1, 'tryelse': 1, 'tryfinally': 0})
