VimL:" try-else-finally File Template, Luc Hermitte, 20th Jul 2020
VimL:" hint: try...else..finally
VimL: call s:Include('try-full', 'python/internals', {'tryexcept':1, 'tryelse': 1, 'tryfinally': 1})
