VimL:" while File Template, Luc Hermitte, lun. 07 déc. 2015 20:41:54 CET
VimL:" hint: while :
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 'python'
while <+ s:SurroundableParam("condition", 2) +>:
    <+ s:SurroundableParam("code", 1) +>
<+s:TerminalPlaceHolder()+>
