VimL:" bold File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 20th Apr 2015
VimL:" hint: \textbf{<++>}<++>
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
\textbf{¡s:Surround(1,'{+text+}')¡}{+s:TerminalPlaceHolder()+}
