VimL:" frame for Beamer Template, Luc Hermitte
VimL: let s:value_start  = '¡'
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'

\frame<+[options]+>
{ \frametitle{¡lh#ui#input('title ?')¡}
\framesubtitle{\helptitle{<+tags+>}{<+file+>}}
\begin{itemize}
  \item <++>
\end{itemize}
}

