VimL:" itemize File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 24th Apr 2015
VimL:" hint: \begin{itemize}\item...
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '{+'
VimL: let s:marker_close = '+}'
VimL: let s:reindent     = 1
\begin{itemize}
  \item {+s:Surround(1, lh#marker#txt())+}
\end{itemize}{+s:TerminalPlaceHolder()+}
