VimL:" augroup File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 17th Jan 2011
VimL:" hint: augroup {group} | au! | augroup END
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 1
augroup <+group-name+>
  au!
  ¡s:Surround(1, 'au <+event+> <+action+>')¡
augroup END
