VimL:" finally File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 10th Mar 2015
VimL:" hint: try «» finally«» endtry
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:reindent     = 1
try
  <+s:Surround(1, s:Param('code', lh#marker#txt('code')))+>
finally
  <+s:Surround(2, s:Param('cleanup', lh#marker#txt('cleanup')))+>
endtry<+s:TerminalPlaceHolder()+>
