VimL:" ``VimL loop on function parameters'' File Template, Luc Hermitte <hermitte {at} free {dot} fr>
VimL:" hint: <+i+>=0; while i<a:0 ; actions ; ++i ; endwhile
VimL: let s:value_start  = '¡'
VimL: let s:value_end    = '¡'
VimL: let s:reindent     = 1
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
VimL: let s:name = lh#ui#input('Name of the index : ', lh#marker#txt('i'))
let ¡s:name¡ = 0
while ¡s:name¡ != a:0
  let ¡s:name¡ += 1
  ¡s:Surround(1, '<+code+>')¡
endwhile<++>
