VimL:" Dispose-pattern for temporaly changing an option, Luc Hermitte <hermitte {at} free {dot} fr>, 20th Jan 2011
VimL:" hint: try opt_save=&opt | &opt=... | ... finally  &opt)opt_save end_try
VimL: let s:value_start = '¡'
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
try
  let <+opt+>_save = &<+opt+>
  let &<+opt+> = <++>
  ¡s:Surround(1, '<+code+>')¡
finally
  let &<+opt+> = <+opt+>_save
endtry
