VimL:" raii File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 10th Mar 2015
VimL:" hint: try finally cleanup
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
let cleanup = lh#on#exit()
  \.restore('<+variable+>')
  \.register('<+:action+>')
VimL: call s:Include('finally', 'vim', {'cleanup': 'call cleanup.finalize()'})
