VimL:" comment File Template, Luc Hermitte, 30th Nov 2015
VimL:" hint: VimL: "
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
<+s:Command(' "')+><+s:Surround(1, lh#marker#txt(""))+>
