VimL:" Parameter File Template, Luc Hermitte, 30th Apr 2015
VimL:" hint: let s:arg = s:Param(...)
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:marker_open  = '<+'
VimL: let s:marker_close = '+>'
s:Param("<+parameter+>", <+lh#marker#txt('lh#marker#txt(default)')+>)
