VimL:" placeholder File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 24th Apr 2015
VimL:" hint: lh#marker#txt(<++>)
VimL: let s:value_start = '¡'
VimL: let s:value_end   = s:value_start
VimL: let s:placeholdername = empty(s:Args()) ? lh#marker#txt('placeholder') : (s:Args()[0])
lh#marker#txt(¡s:Surround(1, s:placeholdername)¡)
