VimL:" vim-rc-global C/C++ projects File Template, Luc Hermitte <hermitte {at} free {dot} fr>, 12th Dec 2014

" Alternate configuration {{{2
" Deprecated since alternate-lite
" ".h and .cpp are in the same directory
" let g:alternateSearchPath = 'sfr:.'
