VimL: "«Vim» scripts footer Template File, Luc Hermitte
"------------------------------------------------------------------------
let &cpo=s:cpo_save
"=============================================================================
" vim600: set fdm=marker:
